	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/11/2019 11:00
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../../src/assets/fonts/Flaticon.eot");
  src: url("../../src/assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../src/assets/fonts/Flaticon.woff2") format("woff2"),
       url("../../src/assets/fonts/Flaticon.woff") format("woff"),
       url("../../src/assets/fonts/Flaticon.ttf") format("truetype"),
       url("../../src/assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-beach:before { content: "\f100"; }
.flaticon-food:before { content: "\f101"; }
.flaticon-food-1:before { content: "\f102"; }
.flaticon-barbershop:before { content: "\f103"; }
.flaticon-cabin:before { content: "\f104"; }
.flaticon-shop:before { content: "\f105"; }
